/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    behaviors {
        shiftesc: shift_esc {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp RSHIFT>, <&kp ESC>;
            mods = <(MOD_LSFT)>;
        };
        carrow: c_arrow {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp C>, <&kp UP_ARROW>;
            mods = <(RALT)>;
        };
        narrow: n_arrow {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp N>, <&kp RIGHT_ARROW>;
            mods = <(RALT)>;
        };
        tarrow: t_arrow {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp T>, <&kp DOWN_ARROW>;
            mods = <(RALT)>;
        };
        harrow: h_arrow {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp H>, <&kp LEFT_ARROW>;
            mods = <(RALT)>;
        };
        ecopy: e_copy {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp E>, <&kp C_AC_COPY>;
            mods = <(RCTRL)>;
        };
        jpaste: j_paste {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp J>, <&kp C_AC_PASTE>;
            mods = <(RCTRL)>;
        };
        undo: u_undo {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp U>, <&kp C_AC_UNDO>;
            mods = <(RCTRL)>;
        };
        kredo: k_redo {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp K>, <&kp C_AC_REDO>;
            mods = <(RCTRL)>;
        };
        dotsave: dot_save {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp DOT>, <&kp LC(S)>;
            mods = <(RCTRL)>;
        };

    };
};


/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
// -----------------------------------------------------------------------------------------
//    | TAB  | ; : | , <  | . > |  P  |  Y  |     |  F  |  G   |  C ⬆ |  R   |  L  | BKSP     |
//    | CTRL |  A  |  O   |  E  |  U  |  I  |     |  D  |  H ⬅ |  T ⬇ |  N ⮕ |  S  | - _      |
//    | SHFT | ' " |  Q   |  J  |  K  |  X  |     |  B  |  M   |  W   |  V   |  Z  | SHFT ESC |
//                        | GUI | LWR | SPC |     | ENT | RSE  | ALT  |
                        bindings = <
   &kp TAB   &kp SEMI &kp COMMA &dotsave       &kp P  &kp Y       &kp F   &kp G   &carrow  &kp R   &kp L &kp BSPC
   &kp LCTRL &kp A    &kp O     &ecopy         &undo  &kp I       &kp D   &harrow &tarrow  &narrow &kp S &kp MINUS
   &kp LSHFT &kp SQT  &kp Q     &jpaste        &kredo &kp X       &kp B   &kp M   &kp W    &kp V   &kp Z &shiftesc
                                &lt 3 LGUI &mo 1  &kp SPACE   &lt 3 RET &mo 2   &kp RALT
                        >;
                };
                lower_layer {
// -----------------------------------------------------------------------------------------
// | F1   | F2   | F3   | F4     |F5      | F6   |        | HOME    |  7  |  8  |  9  |  /  | BKSP |
// | SHFT | PLAY | STOP | VOL_DN | VOL_UP | MUTE |        | END     |  4  |  5  |  6  |  *  | -    |
// | F7   | F8   | F9   | F10    | F11    | F12  |        | DEL     |  1  |  2  |  3  |  .  | +    |
//                    | GUI    |        | SPC  |        | ENTER   |  0  | NUM |
                        bindings = <
   &kp F1 &kp F2           &kp F3      &kp F4       &kp F5       &kp F6       &kp HOME &kp KP_N7 &kp KP_N8  &kp KP_N9 &kp KP_SLASH    &kp BSPC
   &kp LSHFT &kp C_PLAY_PAUSE &kp K_STOP2 &kp K_VOL_DN &kp K_VOL_UP &kp K_MUTE   &kp END  &kp KP_N4 &kp KP_N5  &kp KP_N6 &kp KP_ASTERISK &kp KP_MINUS
   &kp F7 &kp F8           &kp F9      &kp F10      &kp F11      &kp F12      &kp DEL  &kp KP_N1 &kp KP_N2  &kp KP_N3 &kp KP_DOT      &kp KP_PLUS
                                       &kp LGUI     &trans       &kp SPACE    &kp RET  &kp KP_N0 &kp KP_NUM
                        >;
                };

                raise_layer {
// -----------------------------------------------------------------------------------------
// |  `   |  %  |  &  |  {  |  }   | #   |   | BTCLR | BT1 | BT2 | BT3 | BT5 | BKSP |
// |  \   |  $  |  ?  |  (  |  )   | !   |   |   +   |  =  |  /  | "|" | \   | -    |
// | SHFT | '   |  *  |  [  |  ]   | @   |   |   _   |  <  |  >  | ~   |  ^  | SHFT |
//                    | GUI | BKSP | SPC |   | ENT |     | ALT |
                        bindings = <
   &kp GRAVE &kp PRCNT &kp AMPS  &kp LBRC &kp RBRC &kp HASH     &bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &kp BSPC
   &kp BSLH  &kp DLLR  &kp QMARK &kp LPAR &kp RPAR &kp EXCL     &kp PLUS   &kp EQUAL    &kp SLASH    &kp PIPE     &kp BSLH     &kp MINUS
   &kp LSHFT &kp SQT   &kp ASTRK &kp LBKT &kp RBKT &kp AT       &kp UNDER  &kp LT       &kp GT       &kp TILDE    &kp CARET    &kp RSHIFT
                                 &kp LGUI &kp BSPC &kp SPACE    &kp RET   &trans    &kp RALT
                        >;
                };
                layer_3 {
                    bindings = <
    &trans  &trans  &trans  &kp LC(S)       &trans        &trans      &trans  &trans         &kp UP_ARROW   &trans           &trans  &trans
    &trans  &trans  &trans  &kp C_AC_COPY   &kp LC(Z)     &trans      &trans  &kp LEFT_ARROW &kp DOWN_ARROW &kp RIGHT_ARROW  &trans  &trans
    &trans  &trans  &trans  &kp C_AC_PASTE  &kp LC(LS(Z)) &trans      &trans  &trans         &trans         &trans           &trans  &trans
                            &trans          &trans        &kp LGUI    &trans  &trans  &trans
                >;
            };
        };
};
